Thumbs.db
*.pyc
chemobot_tools.egg-info

*.avi
*.png
*droplet_info.json
*dish_info.json
*params.json
*droplet_features.json
*run_info.json
*features.json
/examples/droplet_vision/extracted
/examples/droplet_vision/labelled
